/* Global reset - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) ***************************************************************************************************/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;} /* HTML5 - Override the default (display: inline) for browsers that do not recognize HTML5 tags. IE8 (and lower) requires a shiv: http://ejohn.org/blog/html5-shiv */

body {line-height: 1.5; background: white;} /* Line-height should always be unitless! */

b, strong {font-weight: bold;} /* Makes browsers agree. IE + Opera = font-weight: bold. Gecko + WebKit = font-weight: bolder. */

img {color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;} /* For IE. http://css-tricks.com/ie-fix-bicubic-scaling-for-images */

ol, ul {list-style: none;}
li {display: list-item;} /* For IE6 + IE7. */

blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}

:active             {outline:0;}
:focus              {outline: 0; outline: none;}
*::-moz-focus-inner {border: none;}

table {border-collapse: collapse; border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */


/* Additional
***************************************************************************************************/
html, body {width:100%; height:100%;}
html {overflow-y:scroll;} /* Force scrollbars 100% of the time */
body {min-height:100%; height:auto; height:100%;}

strong, b, dfn {font-weight: bold;}
cite, dfn, em, i, blockquote, q, address {font-style: italic;}
u {text-decoration: underline;}
svg {overflow: hidden;} /* For IE9 */
var {font-style: normal;}
center {text-align: center;}

hr {color: #000; background-color: #000; height: 1px; border: 0px; margin-bottom: 1.5em;}

small {font-size:0.8em; line-height:1;}
big   {font-size: 1.25em; line-height:1;}

sup, sub {font-size:0.8em; position:relative; vertical-align:baseline; line-height: 0; }
sup {top: -0.4em;}
sub {bottom: -0.3em;}
/* 
sup, sub {line-height: 0;}
sup {vertical-align: super;}
sub {vertical-align: sub;}
*/

abbr, acronym {font-size: 0.8em;}
abbr[title], acronym[title], dfn[title] {border-bottom: 1px dotted black; cursor: help; font-style: normal; font-variant: normal;}

/* Tables - tables still need 'cellspacing="0"' in the markup */
table {font: inherit; background-color: transparent; height: auto; width:100%; table-layout:fixed;}
tbody, thead, tfoot {border:0;}
caption, td, th, thead th, tbody th {text-align:left; font-weight:normal; padding:0; border:0; vertical-align:top; float:none !important;} /* float:none prevents the span-x classes from breaking table-cell display */
caption, th, thead th, tbody th     {font-weight:bold;}


/* Typography
***************************************************************************************************/

/* Default font settings - the font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {font-size:100.01%;}
body {font: 10pt/1.5 'Helvetica Neue', 'HelveticaNeue', Arial, FreeSans, sans-serif; color: #5f5f5f; background: #fff;}
button, input, select, textarea {font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, FreeSans, sans-serif;}


/* Headings */
h1, h2, h3, h4, h5, h6 {font-weight: normal; color: #000;}
h1 {font-size: 2.3em; line-height: 1; margin-bottom: 0.5em; font-weight:normal}
h2 {font-size: 1.8em; font-weight: bold; margin-bottom: 0.75em;}
h3 {font-size: 1.5em; font-weight: bold; line-height: 1; margin-bottom: 1em;}
h4 {font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em;}
h5 {font-size: 1em; font-weight: bold; margin-bottom: 1.5em;}
h6 {font-size: 1em; font-weight: bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0;}

/* Text elements */
p {margin: 0 0 1.5em;}
p .left {margin: 1.5em 1.5em 1.5em 0; padding: 0;}
p .right {margin: 1.5em 0 1.5em 1.5em; padding: 0;}

/* Links */
a                {outline: none;}
a                {color: #305ba5; text-decoration:underline;}
a:focus, a:hover {color: #394e73; text-decoration:none;}
a:active         {}

blockquote    {margin: 1.5em; color: #666;}
abbr, acronym {border-bottom: 1px dotted #666;}
address       {margin: 0 0 1.5em;}

/* Remember to highlight inserts somehow! */
ins {border-bottom: 1px dotted; text-decoration:none; font-style:italic;}
bdo {border-bottom: 1px dotted;}
del, s, strike {text-decoration:line-through;}
del {color:#666;}

/* Flash/Video */
object, embed, video {/*max-width:100%; height:auto;*/}

/* Code */
code, kbd, samp, pre, tt, var {font-family: mono-space, monospace; font-size:1em; line-height: 1.5;}
pre, code {overflow-x: auto;}
pre {margin: 1.5em 0; overflow:auto; white-space: pre; word-wrap: break-word;}

/* Lists */
li ul,li ol {margin: 0;}
ul, ol      {margin: 0 1.5em 1.5em 0; padding-left: 1.5em;}
li {margin-left: 1.5em; display: list-item;} /* For IE6 + IE7 */
ul {list-style-type: square;}
ol {list-style-type: decimal;}

dl    {margin: 0 0 1.5em 0;}
dl dt {font-weight: bold;}
dd    {margin-left: 1.5em;}


/* Tables */

/* Because of the need for padding on TH and TD, the vertical rhythm on table cells has to be 27px, instead of the standard 18px or 36px of other elements. */
table {margin-bottom: 1.4em; width:100%;}
th {font-weight: bold;}
th, td, caption {padding: 4px 10px 4px 5px;}

/* You can zebra-stripe your tables in outdated browsers by adding the class "even" to every other table row. */
/*tbody tr:nth-child(even) td, tbody tr.even td {background: #fff;}*/
caption {background: #eee;}

/* Forms */
fieldset {margin:0 0 1.5em 0; padding:0; border:0 solid transparent; height:100%;}
input, label, textarea, select, option {vertical-align: middle;}
button                   {width: auto; overflow: visible; cursor: pointer;}
button::-moz-focus-inner {border: 0; padding: 0;}

textarea {font-family: inherit; font-size: 100%; font-weight: normal; font-style: normal; white-space: normal; text-align: left; vertical-align:top; overflow:auto;}
select           {cursor: pointer;}
select[size]     {vertical-align:top;}
select[size="1"] {vertical-align:middle;}

/* A special hack is included for IE8 since it does not apply padding correctly on fieldsets */
label {font-weight: bold;}
fieldset {padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc;}
legend {font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em;}
/*
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK   {margin-top:0; margin-bottom:0;}
*/

/* Attribute selectors are used to differentiate the different types of input elements, but to support old browsers, you will have to add classes for each one. ".title" simply creates a large text field, this is purely for looks. */
input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff; border:1px solid #bbb; color:#000;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff; border-width:1px; border-style:solid;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width: 300px; padding:5px;}
input.title {font-size:1.5em;}
textarea {width: 390px; height: 250px; padding:5px;}


/* Misc classes */
.small {font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em;}
.large {font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em;}
.hide {display: none;}


/* Deprecated and obsolete elements
***************************************************************************************************/
applet, basefont, dir, font, isindex, menu, s, strike, u {font-family: inherit; font-size: 100%; font-weight: normal; font-style: normal; white-space: normal; vertical-align: baseline; text-decoration: inherit; text-align: left; color: inherit; margin: 0; padding: 0; border: 0; outline: 0;}
dir, menu {list-style: none;}
nobr      {white-space: normal;}
blink     {text-decoration: none;}
marquee   {overflow: visible;}


/* Clear Floated Elements
***************************************************************************************************/
/* http://sonspring.com/journal/clearing-floats */
.clear {background: none; border: 0; clear: both; display: block; float: none; font-size: 0; list-style: none; margin: 0; padding: 0; overflow: hidden; width: 0; height: 0;}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {clear: both; content: '.'; display: block; visibility: hidden; height: 0;}
.clearfix {display: inline-block !important;}
* html .clearfix {height: 1% !important;}
.clearfix {display: block !important;}